<a href="https://colab.research.google.com/github/albin7een/ict_assignment/blob/main/assigment01_albin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1

In [ ]:
a=int(input("pric of item 1:"))
b=int(input("quantity of item 1:"))
c=int(input("price of item 2:"))
d=int(input("quantity of item 2:"))
t=a*b+c*d
print(t)

pric of item 1:45
quantity of item 1:3
price of item 2:30
quantity of item 2:2
195

question 2

In [ ]:
c=int(input("Enter temperature in Celsius: "))
f= (c * 9/5) + 32
print("tempertaure in fehrenheit: ",f)

Enter temperature in Celsius: 30
tempertaure in fehrenheit:  86.0

question 3

In [ ]:
a=float(input("enter the basic salary"))
n=a+(0.20*a)+(0.10*a)
print("Net salary: ",n)

enter the basic salary20000
Net salary:  26000.0

question 4

In [ ]:
p=float(input("principle:"))
r=float(input("Rate of interest:"))
t=float(input("time in (year):"))
si= (p*r*t) / 100
print("simple interest:",si)

principle:10000
Rate of interest:5
time in (year):2
simple interest: 1000.0

question 5

In [ ]:
a=int(input("Enter the minutes:"))
h=a//60
m=a%60
print(h,"hour",m,"minutes")

Enter the minutes:130
2 hour 10 minutes

question 6

In [ ]:
a=float(input("weight:"))
b=float(input("height:"))
c=a /( b * b)
print("BMI:",c)

weight:60
height:1.65
BMI: 22.03856749311295

question 7

In [23]:
a=float(input(" enter the orginal price "))
b=float(input("enter the discount"))
d=a-(a*b)/100
print(d)

 enter the orginal price 1200
enter the discount10
1080.0

question 8

In [9]:
a=float(input("Enter a side :"))
b=float(input("Enter b side : "))
c=float(input("Enter c side :"))
s=(a+b+c)/2
ar= (s*(s-a)*(s-b)*(s-c))**0.5
print(ar)

Enter a side :5
Enter b side : 6
Enter c side :7
14.696938456699069

quesion 9

In [20]:
l=float(input("enter the length in meter : "))
h=float(input("enter the height in metet"))
t=l*h
w=2*(1.5*1.2)
p=t-w
print("total area painted :",p)
c=p*25
print("total cost",c)

enter the length in meter : 12
enter the height in metet8
total area painted : 92.4
total cost 2310.0

question 10

In [17]:
u=float(input("enter te number of units consumed :"))
b=(u*5.2)+100
print("electricity bill :",b)

enter te number of units consumed :250
electricity bill : 1400.0