<a href="https://colab.research.google.com/github/albin7een/ict_assignment/blob/main/assigment3_albin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 question

In [ ]:
max(12,29,23)

29

2 question

In [ ]:
list1=[18,12,30,10,7]
sum=0
for i in list1:
  sum=sum+i
print(sum)

77

3 question

In [ ]:
number=[32,34,45,12,23]

In [ ]:
number.insert(3,77)

In [ ]:
number

[32, 34, 45, 77, 12, 23]

4 question

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [ ]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict.pop("city")
sample_dict.update({"location":"new york"})

In [ ]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}

5 question

In [ ]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary':500}
}
sample_dict["emp3"]["salary"]=8500

In [ ]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

6 question

In [2]:
tuple1=(11,22,33,44,55,66)
new_tuple=(tuple1[3],tuple1[4])
print(new_tuple)

(44, 55)

 7 question

In [3]:
tuple3=(50,10,60,70,83,567,50,81)
tuple3.count(50)

2